@model TransportModels
@{
    ViewData["title"] = "Excluir Veículo";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Exclusão de Veículo</h1>
    </div>

    <form method="post" asp-controller="Transport" asp-action="Delete">
        <input type="hidden" asp-for=tp_id />
        <h2 class="text-light">Tem certeza que deseja Excluir esse Produto?</h2>

        <div class="mb-3">
            <label for="tp_responsible_name" class="form-label text-light">Nome:</label>
            <input type="text" class="form-control text-light" asp-for="tp_responsible_name" id="tp_responsible_name" placeholder="Ex:Nome" disabled>
            <span asp-validation-for="tp_responsible_name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="tp_responsible_cpf" class="form-label text-light">Cpf:</label>
            <input type="text" class="form-control text-light" asp-for="tp_responsible_cpf" id="tp_responsible_cpf" placeholder="Ex:000.000.000-01" disabled>
            <span class="text-danger" asp-validation-for="tp_responsible_cpf"></span>
        </div>

        <div class="mb-3">
            <label for="tp_responsible_phone" class="form-label text-light">Telefone:</label>
            <input type="text" class="form-control text-light" asp-for="tp_responsible_phone" id="tp_responsible_phone" placeholder="Ex:(19)00000000" disabled>
            <span class="text-danger" asp-validation-for="tp_responsible_phone"></span>
        </div>

        <div class="mb-3">
            <label for="tp_plate" class="form-label text-light">Placa:</label>
            <input type="text" class="form-control text-light" asp-for="tp_plate" id="tp_plate" placeholder="Ex:LLLNLNN" disabled>
            <span class="text-danger" asp-validation-for="tp_plate"></span>
        </div>

        <div class="mb-3">
            <label for="tp_weight_supported" class="form-label text-light">Peso Carga:</label>
            <input type="text" class="form-control text-light" asp-for="tp_weight_supported" id="tp_weight_supported" placeholder="Ex:100" disabled>
            <span class="text-danger" asp-validation-for="tp_weight_supported"></span>
        </div>

        <div class="mb-3">
            <label for="tp_size" class="form-label text-light">Altura Veículo:</label>
            <input type="text" class="form-control text-light" asp-for="tp_size" id="tp_size" placeholder="Ex:2,2" disabled>
            <span class="text-danger" asp-validation-for="tp_size"></span>
        </div>

        <div class="d-flex gap-5 nt-5">
            <button type="submit" class="btn btn-success w-50">Excluir</button>
            <a class="btn btn-primary w-50" asp-action="Index">Voltar</a>
        </div>
    </form>

</div>
