@model ShippingModels
@{
    ViewData["title"] = "Excluir Transportadora";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Exclusão de Transportadora</h1>
    </div>

    <form method="post" asp-controller="Shipping" asp-action="Delete">
        <input type="hidden" asp-for=sp_id />
        <h2 class="text-light">Tem certeza que deseja Excluir esse Produto?</h2>


        <div class="mb-3">
            <label for="sp_corporate_name" class="form-label text-light">Transportadora:</label>
            <input type="text" class="form-control text-light" asp-for="sp_corporate_name" id="sp_corporate_name" placeholder="Ex:Nome transportadora" disabled>
            <span asp-validation-for="sp_corporate_name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="sp_cnpj" class="form-label text-light">Cnpj:</label>
            <input type="text" class="form-control text-light" asp-for="sp_cnpj" id="sp_cnpj" placeholder="Ex:0000000/0001-01 disabled">
            <span class="text-danger" asp-validation-for="sp_cnpj"></span>
        </div>

        <div class="mb-3">
            <label for="sp_responsible_name" class="form-label text-light">Nome responsável:</label>
            <input type="text" class="form-control text-light" asp-for="sp_responsible_name" id="sp_responsible_name" placeholder="Ex:Nome responsável" disabled>
            <span class="text-danger" asp-validation-for="sp_responsible_name"></span>
        </div>

        <div class="mb-3">
            <label for="sp_responsible_cpf" class="form-label text-light">Cpf:</label>
            <input type="text" class="form-control text-light" asp-for="sp_responsible_cpf" id="sp_responsible_cpf" placeholder="Ex: 000.000.000-01" disabled>
            <span class="text-danger" asp-validation-for="sp_responsible_cpf"></span>
        </div>

        <div class="mb-3">
            <label for="sp_responsible_phone" class="form-label text-light">Endereço:</label>
            <input type="text" class="form-control text-light" asp-for="sp_responsible_phone" id="sp_responsible_phone" placeholder="Ex:(19)000000000" disabled>
            <span class="text-danger" asp-validation-for="sp_responsible_phone"></span>
        </div>

        <div class="d-flex gap-5 nt-5">
            <button type="submit" class="btn btn-success w-50">Excluir</button>
            <a class="btn btn-primary w-50" asp-action="Index">Voltar</a>
        </div>
    </form>

</div>
