@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FarmLand</h1>
    <p>Uma plataforma intuitiva para organizar e monitorar todas as informações do seu negócio. O sistema facilita a tomada de decisões, garantindo eficiência e produtividade na sua tomada de decisão.</p>
    <div>
        <img src="/img/logo.jpeg"/>
    </div>
    <p>Antonio Botelho do Nascimento Neto - G836227</p>
    <p>David Santos de Souza - G804422</p>
    <p>João Victor Figueiredo Vicente - R025FJ5</p>
    <p>Matheus Bolsanello Marangon - G7915E5</p>
</div>
