@model ProdutosModels
@{
    ViewData["title"] = "Editar Produto";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Edição de Produtos</h1>
    </div>

    <form method="post" asp-controller="Produtos" asp-action="Edit">
        <input type="hidden" asp-for=Id />

        <div class="mb-3">
            <label for="Product_ean_code" class="form-label text-light">Código Ean:</label>
            <input type="text" class="form-control text-light" asp-for="Product_ean_code" id="Código Ean" placeholder="Ex:7898357417892">
            <span asp-validation-for="Product_ean_code"></span>
        </div>

        <div class="mb-3">
            <label for="Product_name" class="form-label text-light">Nome do Produto:</label>
            <input type="text" class="form-control text-light" asp-for="Product_name" id="Nome do produto" placeholder="Ex:Arroz">
            <span class="text-danger" asp-validation-for="Product_name"></span>
        </div>

        <div class="mb-3">
            <label for="Product_quantity" class="form-label text-light">Quantidade de Itens:</label>
            <input type="text" class="form-control text-light" asp-for="Product_quantity" id="Quantidade" placeholder="Ex:10">
            <span class="text-danger" asp-validation-for="Product_quantity"></span>
        </div>

        <div class="mb-3">
            <label for="Product_fabrication_date" class="form-label text-light">Data de Fabricação:</label>
            <input type="text" class="form-control text-light" asp-for="Product_fabrication_date" id="Data de Fabricação" placeholder="Ex:2024/02/28">
            <span class="text-danger" asp-validation-for="Product_fabrication_date"></span>
        </div>

        <div class="mb-3">
            <label for="Product_expiry_date" class="form-label text-light">Data de Validade:</label>
            <input type="text" class="form-control text-light" asp-for="Product_expiry_date" id="Data de Validade" placeholder="Ex:2025/02/28">
            <span class="text-danger" asp-validation-for="Product_expiry_date"></span>
        </div>

        <div class="d-flex gap-5 nt-5">
            <button type="submit" class="btn btn-success w-50">Editar</button>
            <a class="btn btn-primary w-50" asp-action="Index">Voltar</a>
        </div>
    </form>

</div>

@{
}
